# Ignore binaries

*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# Secrets

/**/*.pem

# Ignore idea related stuff

.idea/**
/**/out/

# Ignore gradle related stuff

.gradle
/**/gradle-app.setting
/**/local.properties
/**/.gradletasknamecache
/**/gradle-wrapper.jar
/**/gradle-wrapper.properties
/**/build/

# Allow only the root gradle wrapper

!/gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties
